{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">

</head>
<body>
    <div class="attr_cloudy text-white">{{city_weather.descirp}}</div>
    <div class="attr_deg2 text-white">15 &deg;</div>
    <img src="assets/images/screen01.png" alt="" />
    <h1 class="cloudy">{{city_weather.descrip}}</h1>
    
</div>
</body>
</html>