{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>City Weather</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
</head>
<body>
    <div class="forecast-table">
        <div class="container">
            <div class="forecast-container">
                <div class="today forecast">{{city_weather.description}}<br>
                    <div class="forecast-header">
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="location">{{city_weather.city}}</div>
                        <div class="degree">
                            <div class="num">{{city_weather.temprature}}<sup>o</sup>C</div>
                            <div class="forecast-icon">
                                <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="" width=90>

                            </div>
                            </div>
</body>
</html>